/* Hero Section  */
.hero_section {
  display: grid;
  justify-content: center;
}
.Text1 {
  font-size: 50px;
}
.Text2 {
  padding-top: 5px;
  font-size: 50px;
  padding-left: 90px;
}
.hero_section a {
  max-width: 500px;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 40px;
  padding: 20px 20px;
  margin-left: 230px;
  justify-content: center;
  background-color: #263aad;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 120px;
}

/* image section  */
.imageContainer {
  display: grid;
  justify-content: center;
  position: relative;
  max-width: 1200px;
}
.background1 img {
  width: 950px;
  border-radius: 5px;
}
.background2 img {
  width: 450px;
  position: absolute;
  border-radius: 5px;
  top: 290px;
  left: 50px;
}
.background3 img {
  width: 280px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  right: 0;
  position: absolute;
  top: 190px;
}

/* Work Happens Section  */
.happensSection {
  margin-top: 90px;
  height: auto;
}
.happensSection h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 60px;
}
.cardHeader img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}
.workHappensWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 490px;
  gap: 20px;
  position: relative;
}
.cardHeader {
  display: flex;
  justify-content: space-around;
  /* align-items: center;  */
}
.cardHeader img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.customerImage1 {
  border: 1px solid #263aad;
}
.customerImage2 {
  border: 1px solid #959ea5;
}

.card1 {
  border: 1px solid black;
  border-radius: 8px;
}
.card1 h5 {
  margin-top: 45px;
  margin-left: 55px;
}
.card1:nth-of-type(1) {
  background-color: #171952;
  color: #d7baf5;
}
.card1:nth-of-type(2) {
  background-color: #283338;
  color: #b9edbd;
}
.happensSection h5 {
  padding-top: 15px;
  font-weight: 300;
  opacity: 0.7;
}
.card1Image {
  width: 530px;
  height: 320px;
  object-fit: cover;
  border-top-right-radius: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.card2Image {
  width: 530px;
  height: 320px;
  object-fit: cover;
  border-top-left-radius: 15%;
  position: absolute;
  right: 0;
  bottom: 0;
}
